.contain {
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;

  .my-resume {
    width: 60%;
    height: 80%;
    margin-top: 50px;
    overflow: hidden;

    .tiemline {
      width: 100%;
      height: 100%;
      padding: 20px;
      overflow: auto;
      box-sizing: border-box;
      // border: 1px solid #ddd;

      h3{
        font-size: 16px;
        font-weight: 600;
        margin: 10px 0;
      }

      p{
        color: #5e6d82;
      }
    }
  }
}
