.contain {
  display: flex;

  $--sidebar-width: 220px;
  .side-bar{
    flex: 0 0 $--sidebar-width;
    width: $--sidebar-width;
    height: 100%;
    background-color: #000;
  }

  .main-content{
    flex: 1;
    height: 100%;
  }
}